﻿@model List<Carro>

<h1>Carros</h1>

<p>
    <a asp-action="Create">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Marca</th>
            <th>Modelo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => car.Marca)
                </td>
                <td>
                    @Html.DisplayFor(m => car.Modelo)
                </td>
                <td>
                    ok
                </td>
            </tr>
        }
    </tbody>
</table>