﻿@model List<Producto>

<h1>Productos</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var brand in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => brand.Nombre)</td>
            </tr>
        }
    </tbody>

</table>